<template tag-name="create-product">
    <lyte-input id="product_name" name="product_name" lt-prop-label="Product_Name" lt-prop-placeholder = "Enter Product Name"></lyte-input>
    <lyte-input id="brand" name="brand" lt-prop-label="Brand" lt-prop-placeholder = "Enter Brand"></lyte-input>
    <lyte-input id="price" name="price" lt-prop-label="Price" lt-prop-type="number" lt-prop-placeholder = "Enter Price"></lyte-input>
    <lyte-input id="product_origin" name="origin" lt-prop-label="Origin" lt-prop-placeholder = "Enter Origin"></lyte-input>
    <lyte-button lt-prop-appearance="primary" onclick="{{action('createProduct')}}">
        <template is="registerYield" yield-name="text">
            Create Product
        </template>
    </lyte-button>
    <lyte-button lt-prop-appearance="failure" onclick="{{action('cancelCreate')}}">
        <template is="registerYield" yield-name="text">
            Cancel
        </template>
    </lyte-button>
</template>